$med-light-gray: #edeff2;
$med-gray: #c8c8c8;
$med-dark-gray: #434343;
$med-blue: #2029b6;
$med-white: white;
$med-light-blue: #4d54c5;
$med-red: #ff656a;
$med-orange: #ffb549;
$med-white: #ffffff;
$med-grey: #edeff2;
