@import "./colors.scss";

body {
  min-width: inherit;
  width: auto;
}

main {
  &.container-fluid {
    max-width: none;
    margin: 0;
    --edifice-container-width: 100%;
    padding-right: 0%;
    padding-left: 0%;
  }
}

.med-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  background-color: $med-light-gray;
  .list-container {
    display: flex;
    .left-container {
      width: 70%;
    }
    .right-container {
      width: 30%;
    }
  }
  .bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    .bottom-left-container {
      width: 45%;
    }
    .bottom-right-container {
      width: 55%;
    }
  }
}

.file-card {
  width: 100%;
  height: 183px;
}

.pin {
  width: 100%;
  display: flex;
}
