resource-card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);

  .flex {
    position: relative;
    height: 100%;

    &.resource .resource-card {
      height: 200px;
    }

    .resource-card {
      opacity: 1;
    }

    .resource-loader {
      display: none !important;
    }

    &.loading {
      .resource-card {
        opacity: 0;
      }

      .resource-loader {
        display: flex !important;
      }
    }

    &.textbook {
      height: 9rem;

      .data {
        .resource-information {
          .title {
            color: $mediacentre-red;
            font-size: 18px !important;
          }
        }

        .resource-footer .cell > div:before {
          font-size: 24px !important;
        }
      }


      .resource-footer {
        .cell > div {
          padding: 0 5px 0 0 !important;

          &:before {
            position: relative !important;
            left: unset !important;
          }
        }
      }
    }

    &.favorite {
      .source-image {
        position: absolute;
        top: -15px;
        right: 0;
        z-index: 1;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .data {
        padding-top: 1rem;

        .title {
          color: $mediacentre-red;
        }

        .resource-footer {
          display: flex;
          padding-top: 10px;
          font-size: 12px;
        }
      }
    }
  }

  .flex .resource-loader {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .flex .resource-card, .flex .resource-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    //height: 12.5rem;
    padding: 5px 10px;
    height: 100%;

    .source {
      width: auto;
      height: 30px;
    }

    .image {
      flex: 5;
      position: relative;

      .crop {
        margin: 0 auto;
        position: relative;
        z-index: 1;
      }


      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        > img {
          width: 100%;
          height: 100%;
          transform: scale(1.15);
        }
      }
    }

    .data {
      flex: 7;
      height: 80%;
      display: flex;
      flex-direction: column;

      .title {
        font-weight: bold;
        font-size: 15px;
      }

      .types {
        text-transform: uppercase;
        font-size: 12px;
      }

      .resource-footer {
        align-items: flex-end;
        font-size: 12px;
        margin: auto 0 0 0;
        line-height: 12px;

        .cell > div {
          padding: 0 5px 0 10px;
          line-height: 16px;

          &:before {
            position: absolute;
            left: -10px;
            font-size: 16px;
          }
        }

        .add-to-favorite {
          color: $mediacentre-light-grey;
          cursor: pointer;

          &::before {
            @include fonticon();
            content: '\e9d9';
            font-size: 24px;
          }
        }

        .remove-to-favorite {
          color: $mediacentre-light-grey;
          cursor: pointer;

          &::before {
            @include fonticon();
            content: '\e9d9';
            font-size: 24px;
            color: $mediacentre-yellow-star;
          }
        }

        .copy-clipboard {
          color: $mediacentre-red;

          &::before {
            @include fonticon();
            content: '\e84d';
            font-size: 24px;
          }

          .text-button {
            position: relative;
          }

          .clipboard-tooltip {
            position: absolute;
            background-color: rgba(75, 75, 75, 1);
            border-radius: 4px;
            bottom: -35px;
            left: 50%;
            width: 60px;
            margin-left: -30px;
            line-height: 30px;
            text-align: center;
            color: $white;
            opacity: 0;
            transition: opacity 0.3s;

            &.show {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.favoriteCard {
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
  .remove-to-favorite {
    color: $mediacentre-light-grey;
    cursor: pointer;

    &::before {
      @include fonticon();
      content: '\e9d9';
      font-size: 24px;
      color: $mediacentre-yellow-star;
    }
  }
  .copy-clipboard {
    &::before {
      font-size: 24px;
    }
  }
}