.med-modal-explorer-swiper {
  height: 350px !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.med-modal-explorer-image {
  max-width: 580px;
  max-height: 250px;
}
