<div ng-controller="SearchController as vm" class="search">
    <div class="horizontal-spacing row vertical-spacing advanced-search-filters">
        <div class="cell zero-mobile" ng-if="vm.getAdvancedSearchField().length > 0 && !vm.emptyAdvancedSearch()">
            <h2>
                <i18n>mediacentre.source.search.advanced</i18n>
            </h2>
            <div class="advanced-search-fields">
                <div class="cell field" ng-repeat="field in vm.getAdvancedSearchField()">
                    <span ng-if="mc.search.advanced.values[field].value.trim() !== ''">
                        <strong>[[ idiom.translate('mediacentre.advanced.name.' + field) ]]</strong> : [[ mc.search.advanced.values[field].value ]]
                    </span>
                </div>
            </div>
        </div>
        <a class="right-magnet cancel button" href="#/">
            <i18n>mediacentre.search.cancel</i18n>
        </a>
    </div>
    <div class="horizontal-spacing row vertical-spacing filter-line search-filters">
        <div class="cell twelve-mobile">
            <div class="vertical-spacing-twice"
                 ng-if="vm.filters.initial.document_types.length > 0 || vm.filters.initial.levels.length > 0">
                <i18n>mediacentre.search.filter</i18n>
                :
            </div>
            <div class="row">
                <multi-combo ng-repeat="filter in vm.filteredFields"
                             ng-if="vm.filters.initial[filter].length > 0"
                             title="[[ idiom.translate('mediacentre.search.filter.' + filter) ]]"
                             combo-model="vm.filters.initial[filter]"
                             class="twelve-mobile"
                             search-on="name"
                             order-by="name"
                             filtered-model="vm.filters.filtered[filter]">
                </multi-combo>
            </div>
        </div>
        <div class="right-magnet loaders" ng-if="vm.getSourcesLength()">
            <div ng-repeat="(key, val) in vm.loaders" class="[[ vm.formatClassName(key) ]] source-loader">
                <img ng-src="[[ '/mediacentre/public/img/' + key + '.png' ]]" alt="[[ key ]]"/>
                <loader active="val" ng-if="val"></loader>
                <i class="validated-status source-check" ng-show="!val"></i>
            </div>
        </div>
    </div>
    <div class="grid" ng-show="vm.resources.length > 0">
        <resource-card ng-repeat="resource in vm.displayedResources track by $index"
                       ng-model="resource"></resource-card>
    </div>
    <div class="no-result eight centered" ng-show="!vm.isLoading() && vm.resources.length === 0">
        <div class="six">
            <img src="/mediacentre/public/img/no-result.svg" alt="[[ idiom.translate('mediacentre.no-result.alt') ]]">
        </div>
        <div class="six">
            <i18n>mediacentre.no-result</i18n>
        </div>
    </div>
</div>