$mediacentre-red: #f53b57;
$mediacentre-yellow-star: rgb(254, 198, 61);
$mediacentre-light-grey: #d6d6d6;
$mediacentre-gar: #3b1d8f;
$mediacentre-moodle: #ff8500;
$mediacentre-pmb: #43b0a2;
$mediacentre-grey: #232323;

body.mediacentre-v2 {
  @import 'components/index';

  section.main {
    top: 64px !important;
    padding: 0 !important;
  }

  .forbidden {
    cursor: not-allowed;
  }

  .pointer {
    cursor: pointer;
  }

  multi-combo {
    display: inline-block;
    min-width: 250px;

    .multi-combo-root-panel > ul {
      padding: 5px;

      > li {

        &::before {
          width: 15px;
          height: 15px;
          color: #fff;
          border-radius: 2px;
          background-color: $mediacentre-light-grey;
          content: "✓";
          padding: 2px 5px;
          font-size: 10px;
          margin-right: 5px;
        }

        &.selected {
          color: $mediacentre-red;

          &::before {
            background-color: $mediacentre-red;
          }
        }
      }
    }
  }

  a.button.cancel, button.cancel {
    color: $mediacentre-red;

    &:hover {
      background: $mediacentre-red;
      color: $white;
    }
  }

  .textbooks, .favorites {
    h2 {
      color: $mediacentre-grey;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
    }

    /* favorite */
    &-flex {
      display: flex;
      &-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 18.5rem;
        grid-column-gap: 3rem;
        padding: 3rem 2rem 3rem 1rem;
        flex: 9;
      }
      &-plus {
        text-align: center;
        align-self: center;
        flex: 1;
        cursor: pointer;
        color: $mediacentre-red;
        text-decoration: underline;
      }
    }

    &-emptyState {
      display: flex;
      padding: 2rem;
      img {
        width: 17%;
      }
      &-flex {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 2rem;
        padding-bottom: 3rem;
        span {
          color: $mediacentre-grey;
          &:nth-child(1) {
            padding-top: 24px;
          }
        }
      }
    }
  }

  .textbooks-empty {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: $mediacentre-grey;

    img {
      height: 200px;
    }
  }
}