@import "../colors";
@import "../breakpoints";

body {
  min-width: inherit;
  width: auto;
}

main {
  &.container-fluid {
    max-width: none;
    margin: 0;
    --edifice-container-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

.med-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  padding: 0 15px;
  background-color: $med-light-gray;
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: $xl) {
    grid-template-columns: 70% 30%;
    grid-template-rows: 300px 600px;
    #pinId {
      grid-row: 1;
      grid-column: 1;
    }

    #favoriteId {
      grid-row: 1;
      grid-column: 2;
    }

    #resourcesId {
      grid-row: 1;
      grid-column: 1;
    }

    #resourcesWithPinsId {
      grid-row: 2;
      grid-column: 1;
    }
  }

  .med-resources-container {
    width: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: $lg) {
      flex-direction: column;
    }

    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 400px;
      .empty-state-img {
        height: 160px;
        width: 160px;
      }
    }
  }
}

.container-fluid {
  padding: 0;

  &.bg-white {
    background-color: $med-grey !important;
  }
}

@media screen and (max-width: $md) {
  .med-container {
    width: 100%;
    margin-left: 0;
  }
}

.file-card {
  width: 100%;
  height: 183px;
}

.pin {
  width: 100%;
  display: flex;
}

.med-alert {
  position: fixed;
  right: 20px;
  top: 75px;
  z-index: 10000 !important;
  transition: all 0.3s ease;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.color-app-mediacentre {
  color: $med-blue !important;
}
