@import "../colors.scss";
@import "../breakpoints";

.med-search-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $md) {
    width: 100%;
    margin-left: 0;
  }

  .med-search-page-header {
    width: 100%;
    .med-search-page-title {
      display: flex;
      align-items: center;
      margin-left: 10px;

      .med-search-title {
        font-size: 20px;
      }

      .med-search-icon {
        color: $med-blue;
        font-size: 30px;
        margin: 0 1rem 3px 0;
      }

      font-family: Comfortaa;
      font-size: 26px;
      font-weight: 700;
      color: $med-dark-gray;

      @media (max-width: 1280px) {
        font-size: 20px;
      }
    }
  }
  .med-search-page-content {
    width: 1100px;
    .med-search-page-parameters {
      margin-right: 30px;
    }
    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;
      height: 400px;
      .empty-state-text {
        text-align: center;
        width: 70%;
      }

      .empty-state-img {
        height: 160px;
        width: 160px;
      }
    }

    @media (max-width: 1280px) {
      width: 800px;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
    }
  }
}
