@import "../colors.scss";
@import "../breakpoints";

.med-root-container {
  display: flex;
  justify-content: center;
}

.med-signets-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1600px;

  @media screen and (max-width: $md) {
    width: 100%;
    margin-left: 0;
  }

  .med-signets-admin-container {
    width: 35rem;

    @media (max-width: $md) {
      width: fit-content;
    }
  }

  .med-signets-page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .med-signets-page-title {
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-family: Comfortaa;
      font-size: 26px;
      font-weight: 700;
      color: $med-dark-gray;

      .med-signets-title {
        font-size: 20px;
      }

      .med-signets-icon {
        color: $med-blue;
        font-size: 30px;
        margin: 0 1rem 3px 0;
      }

      @media (max-width: 1280px) {
        font-size: 20px;
      }
    }

    .med-signets-create-button {
      margin-right: 10px;
    }
  }

  .med-signets-page-content {
    width: 100%;

    .med-signets-page-parameters {
      margin-right: 30px;
    }

    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;
      height: 400px;

      .empty-state-text {
        text-align: center;
        width: 70%;
      }

      .empty-state-img {
        height: 160px;
        width: 160px;
      }
    }
  }
}
