@import "../../styles/_colors.scss";

.list-card {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &.pinned_resources {
    padding: 15px 10px;
    background-color: $med-white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #0000001f;
  }
  &.favorites {
    padding: 15px 25px;
    background-color: $med-white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #0000001f;
  }
  &.manuals {
    width: 100%;
    margin-right: 20px;
  }
  &.util_links {
    width: 100%;
    margin-left: 20px;
  }

  .left-arrow {
    color: $med-blue;
    font-size: 24px;
    margin-right: 10px;
  }
  .right-arrow {
    color: $med-blue;
    font-size: 24px;
    margin-left: 10px;
  }

  .dots {
    .dot {
      color: $med-blue;
      font-size: 8px;
    }
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}

.list-card-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right-button {
    color: $med-blue;
    font-family: "Roboto";
    font-size: 14px;
  }
}

@for $i from 1 through 8 {
  .grid-#{$i} {
    --edifice-columns: #{$i};
    width: 100%;
    gap: 10px;
    @media (min-width: 1600px) {
      gap: 15px;
    }
  }
}
