@import "../../../styles/_colors.scss";

.med-pin-card {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 5px 10px;
  height: auto;

  .med-link-card-pin {
    color: currentColor;
  }

  .card-title {
    margin: 0px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 130px;

    .med-pin-description {
      line-height: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      max-height: 3rem;
      font-size: 14px;
      margin-bottom: 1px;
      padding-left: 2px;
    }
    .med-pin-image-container {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow: hidden;
      padding: 6px;
      box-sizing: border-box;
      .med-pin-image {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  }

  .card-footer {
    padding: 0px;
    color: $med-gray;
    font-size: 12px;
    background-color: white;
    gap: 0px !important;

    .med-left-footer {
      .med-text-footer {
        margin-left: 2px;
      }
    }
    .med-footer-svg {
      white-space: nowrap;
      svg {
        height: 18px;
        margin-right: 1px;
        width: 18px;
        cursor: pointer;
      }
      .med-link {
        cursor: pointer;
        color: $med-light-blue;
      }

      .med-pin {
        cursor: pointer;
        color: $med-red;
      }
    }
  }
}
